<%-include("partials/_header")%>
<div class="container-main">
    <div class="section section--1">
        <h1 class="section--header">We are launching <span>soon!</span></h1>
        <h4 class="section--subheader">Subscribe and get notified</h4>
        <form action="post" class="section--form">
            <input type="email" name="email" id="email" placeholder="johnsmith1212@gmail.com" class="section--email">
            <input type="submit" value="Notify Me" class="section--btn">
        </form>
    </div>
    <div class="section section--2">
        <img src="images/illustration-dashboard.png" alt="Graphic of Analytics Charts" class="section--graphic">
    </div>
    <footer class="section section--3">
        <div class="socialmediabox">
            <i class="fab fab-f"></i>
            <i class="fab fab-t"></i>
            <i class="fab fab-i"></i>
        </div>
        <p class="copywrite">
            &copy; Copyright Ping. All rights reserved.
        </p>
        <p class="attribution">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="fem">Frontend Mentor</a>. 
            Coded by <a href="#" class="coder">Leon Smith Jr</a>.
        </p>
      
    </footer>
</div>
<%-include("partials/_header")%>